################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BtsSalesforceIntegration/QueryResult.xsd.cs
